<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head.ejs', { title: 'Teleicu Middleware | Bed Config'})
    %>
  </head>
  <body class="max-w-screen-lg mx-auto">
    <%- include("../../partials/header") %>
    <main class="py-8 w-full">
      <%- include("../../partials/pageTitle",{title:"Bed Config"}) %>

      <% if(errors.length > 0){ %>
          <div class="bg-red-100 border border-red-400 text-red-700 mb-4 px-4 py-3 relative" role="alert">
            <% errors.forEach(function(error){ %>
              <p class="font-bold"><%= error %></p>
            <% }) %>
          </div>
      <% } %>
      <div class="float-right">
        <a class="px-4 py-2 ml-auto hover:bg-green-700 bg-green-500" href="/assets/new">Add New Asset</a>
      </div>

      <table class="w-full table-auto text-left border-separate border-spacing-y-4">
        <tr >
            <th>ID</th>
            <th>Name</th>
            <th>External ID</th>
            <th>Camera</th>
            <th>Monitor Preset</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
        <% beds.forEach((bed) => { %>
        <tr>
            <td class="w-fit"><%= bed.id %></td>
            <td class="w-fit"><%= bed.name %></td>
            <td class="w-fit"><%= bed.externalId %></td>
            <td class="w-fit"><%= bed.camera?.name ?? "No Camera Linked" %></td>
            <% if (bed.monitorPreset) { %>
                <td class="w-fit"><%= bed.monitorPreset.x %>, <%= bed.monitorPreset.y %>, <%= bed.monitorPreset.zoom %></td>
            <% } else { %>
                <td class="w-fit">Not Available</td>
            <% } %>
            <td class="w-fit"><%= dayjs(bed.updatedAt).format('DD/MM/YYYY hh:mm:ss a') %></td>
            <td class="w-fit text-right">
                <a class="px-4 py-2 my-2 hover:bg-yellow-700 bg-yellow-500" href="/beds/<%= bed.id %>">Edit</a>
                <a class="px-4 py-2 my-2 hover:bg-red-700 bg-red-500" href="/beds/<%= bed.id %>/delete">Delete</a>
            </td>
        </tr>
        <% }) %>
      </table>
    </main>
    <%- include("../../partials/footer") %>
  </body>
</html>
