<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs', { title: 'Teleicu Middleware | Asset Config'})
    %>
  </head>
  <body class="max-w-screen-lg mx-auto">
    <%- include("../partials/header") %>
    <main class="py-8 w-full">
      <%- include("../partials/pageTitle",{title:"Asset Config"}) %>

      <% if(errors.length > 0){ %>
          <div class="bg-red-100 border border-red-400 text-red-700 mb-4 px-4 py-3 relative" role="alert">
            <% errors.forEach(function(error){ %>
              <p class="font-bold"><%= error %></p>
            <% }) %>
          </div>
      <% } %>

      <form action="" class="w-fit" method="post">
        <p>
            <h3>
                Add New Asset
            </h3>
        </p>
        <div class="flex flex-wrap items-center justify-center my-4 gap-4">
            <input class="p-2 border-2 border-black" type="text" placeholder="Asset name" name="name" id="name" value="" />
            <select class="p-2 border-2 border-black" name="type" id="type" placeholder="Asset type">
              <option value="MONITOR">Monitor</option>
              <option value="CAMERA">Camera</option>
            </select>
            <input class="p-2 border-2 border-black" type="text" placeholder="Description" name="description" id="description" value="" />
            <input class="p-2 border-2 border-black" type="text" placeholder="UUID" name="externalId" id="externalId" value="" />
            <input class="p-2 border-2 border-black" type="text" placeholder="127.0.0.1" name="ipAddress" id="ipAddress" value="" />
            <input class="p-2 border-2 border-black" type="text" placeholder="remote-user" name="username" id="username" value="" />
            <input class="p-2 border-2 border-black" type="password" placeholder="password" name="password" id="password" value="" />
            <input class="p-2 border-2 border-black" type="number" placeholder="80" name="port" id="port" value="" />
            <select class="p-2 border-2 border-black" name="bedId" id="bedId" placeholder="Bed">
              <option value="" disabled selected hidden>Select a Bed</option>
              <% beds.forEach(function(bed){ %>
                <option class="truncate" value="<%= bed.externalId %>"><%= bed.name + " -- " + bed.externalId.slice(0, 10) %></option>
              <% }) %>
            </select>
            <input class="px-4 py-2 hover:bg-green-700 bg-green-500" type="submit" value="Add " />
        </div>
      </form>

      <table class="w-full table-auto text-left border-separate border-spacing-y-4">
        <tr >
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <!-- <th>Description</th> -->
            <th>External ID</th>
            <th>IP address</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
        <% for (var i = 0; i < assets.length; i++) { %>
        <tr>
          <% console.log(assets[i]) %>
            <td class="w-fit"><%= assets[i].id %></td>
            <td class="w-fit"><%= assets[i].name %></td>
            <td class="w-fit"><%= assets[i].type %></td>
            <!-- <td ><%= assets[i].description %></td> -->
            <td class="w-fit"><%= assets[i].externalId %></td>
            <td class="w-fit"><%= assets[i].ipAddress %></td>
            <td class="w-fit"><%= dayjs(assets[i].updatedAt).format('DD/MM/YYYY hh:mm:ss a') %></td>
            <td class="w-fit">
                <a class="px-4 py-2 my-2 hover:bg-yellow-700 bg-yellow-500" href="/assets/<%= assets[i].id %>">Edit</a>
                <a class="px-4 py-2 my-2 hover:bg-red-700 bg-red-500" href="/assets/<%= assets[i].id %>/delete">Delete</a>
            </td>
        </tr>
        <% } %>
      </table>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
