<label for="<%= name %>"> <%=label %> </label>
<input
  id="<%=id%>"
  type="<%=type%>"
  name="<%=name %>"
  required="<%=required %>"
  placeholder="<%=placeholder%>"
  class="text-base px-4 py-2 border-2 transition border-gray-700 hover:bg-slate-100 focus:border-primary-400 outline-none w-full"
/>
